<div class="tab-pane" role="tabpanel" id="simuladorTab" aria-labelledby="basic-tab" aria-expanded="true">
    <h3>Simulador de Anuncios <br> Amarillas Internet</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora praesentium doloribus maiores 
        omnis officia necessitatibus nostrum odit pariatur dicta minus accusamus harum quo facere, et 
        fugiat voluptas! Sint, veritatis, perferendis!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore maiores aut non mollitia error 
        fugiat facilis facere quisquam, odit dicta cum soluta eveniet, cupiditate veritatis reiciendis 
        repellendus temporibus autem reprehenderit.</p>    
    <section class="widget">
        <div class="widget-body">
            <div class="mb-sm">
                <label>Tipos de Anuncios: &nbsp;</label>                
                <select class="selectpicker" id="ddlADS" data-style="btn-secondary" data-width="auto">
                    <option value="0">&nbsp;-- Seleccione -- &nbsp;</option>
                    <option value="1">Pro Ad Pack</option>
                    <option value="2">Ultra Yellow Ad Pack</option>
                    <option value="3">Super Yellow Ad Pack</option>
                    <option value="4">Advanced</option>
                    <option value="5">Standard</option>
                    <option value="6">Starter</option>
                </select>                   
            </div>
            <div *ngIf="_showDefault" class="row">
                    <p>Construya su anuncio aqui</p>
            </div>
            <div *ngIf="_showProAdPack" class="row">
                <ads-pro></ads-pro>
            </div>
            <div *ngIf="_showUltraYellowAdPack" class="row">
                <ads-ultra></ads-ultra>
            </div>
            <div *ngIf="_showSuperYellowAdPack" class="row">
                <ads-super></ads-super>
            </div>
            <div *ngIf="_showAdvance" class="row">
                <ads-advanced></ads-advanced>
            </div> 
            <div *ngIf="_showStandard" class="row">
                <ads-standard></ads-standard>
            </div>
            <div *ngIf="_showStarter" class="row">
                <ads-starter></ads-starter>
            </div>                          
        </div>
    </section>       
</div>
